@import "./variables.css";

.ColorModeToggle {
    color: var(--icon-color);
    margin-left: 15px;
    text-align: left;
    font-size: 30px;
}

.ColorModeToggle:hover {
    color: var( --brand-color);

}
