@import "./variables.css";

.DropdownMenu {
  background-color: var(--background-secondary-light);
  color: var(--text-color-light);
  box-shadow: 8px 8px 8px 8px var(--box-shadow);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--background-secondary-light);
}

.dark.DropdownMenu {
  background-color: var(--background-secondary-dark);
  color: var(--text-color-dark);
  border: 1px solid var(--background-secondary-dark);
}

.MoreDropdownItem {
  background-color:transparent;
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.dark.MoreDropdownItem {
  background-color:transparent;
}

.MoreropdownItem:hover {
  background-color: var(--background-secondary-light);
  filter: brightness(0.8);
  transition: background-color 0.3s ease;
  border-radius: 9999px;
}

.dark.MoreDropdownItem:hover {
  background-color: var(--background-secondary-dark);
}

.ProfleEditDropdownItem {
  background-color:transparent;
  color: var(--text-color-light);
  display:list-item;
  max-width: 100%;
  padding: 5px;
}

.dark.ProfleEditDropdownItem {
  background-color:transparent;
  color: var(--text-color-dark);
}

.ProfleEditDropdownItem:hover {
  background-color: var(--background-secondary-light);
  filter: brightness(0.8);
  transition: background-color 0.3s ease;
  border-radius: 9999px;
}

.dark.ProfleEditDropdownItem:hover {
  background-color: var(--background-secondary-dark);
}

.Absolute {
  position: absolute;
  right: 0;
  z-index: 99;
}
