@import "./variables.css";

.NavBar {
    background-color: var(--navbar-background-light);
    border: 1px solid #dadadf;
}

dark-mode .NavBar {
    background-color: var(--navbar-background-dark);
}