@import "./variables.css";

.NavBar {
  background-color: var(--background-secondary-light);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dark.NavBar {
  background-color: var(--background-secondary-dark);
}

.NavLink {
  padding: 5px;
}

.NavLink:hover {
  background-color: var(--background-secondary-light);
  filter: brightness(0.8);
  transition: background-color 0.3s ease;
  border-radius: 9999px;
  border: none;
}

.dark.NavLink:hover {
  background-color: var(--background-secondary-dark);
  filter: brightness(0.8);
}

.Active i {
  color: var(--brand-color);
}