@import "./variables.css";

.SearchBar input {
  background-color: var(--background-secodary-light);
  border-radius: 20px;
  color: var(--text-color-light);
  padding-left: 40px;
  margin-bottom: 16px;
}

.dark.SearchBar input {
  background-color: var(--background-secodary-dark);
  color: var(--text-color-dark);
  border: 1px solid var(--background-dark);
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}

.SearchIcon:hover {
  cursor: default;
  color: var(--brand-color);
}
