@import "./variables.css";

.Post {
  background-color: var(--background-light);
  border: 1px solid var(--background-light);
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: left;
}

.dark.Post {
  background-color: var(--background-dark);
  border: 1px solid var(--background-secondary-dark);
}


.ZoomedImage {
  transition: transform 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
  height: 60vh;
  object-fit:cover;
}

.ZoomedImage:hover {
  transform: scale(1.03);
}

.LinkStyle {
  text-decoration: none;
  overflow: hidden;
}

.Post figure,
h5 {
  margin: 0 0;
}

.ReadMore {
  color: var(text-color-light);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px;
}

.dark.ReadMore {
  color: var(text-color-dark);
}

.Heart {
  color: var(--heart-color);
}

.Heart:hover {
  color: var(--brand-color);
}

.HeartOutline:hover {
  color: var(--brand-color);
}
