@import "./variables.css";

.Post {
  background-color: #ffffff;
  border: 1px solid #dadadf;
  border-radius: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.ZoomedImage {
  transition: transform 0.5s ease-in-out;
  align-items: center;
  justify-content: center;
}

.ZoomedImage:hover {
  transform: scale(1.03);
}

.LinkStyle {
  text-decoration: none;
  overflow: hidden;
}

.Post figure,
h5 {
  margin: 0 0;
}

.ReadMore {
  color: var(text-color-light);
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 5px; /* Adjust the margin as needed */
}
.Heart {
  color: #f85032;
}

.Heart:hover {
  color: var(--brand-color);
}

.HeartOutline:hover {
  color: #f85032;
}
