:root {
    --text-color-light: #555555;
    --text-color-dark: #f8f8f8;
    --background-light: #f8f8f8;
    --background-dark: #333333;
    --navbar-background-light: #ffffff;
    --navbar-background-dark: #000;
  }