@import "./styles/variables.css";

.App {
  font-family: "DM Sans", sans-serif;
  background-color: var(--background-light);
  color: var(--text-color-light);
  min-height: 100vh;
}

.dark-mode .App {
  background-color: var(--background-dark);
}

.Main {
  padding-top: 81px;
}

.Content {
  background-color: var(--background-secondary-light);
  color: var(--text-color-light);
  box-shadow: 0 4px 8px var(--box-shadow);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid var(--background-secondary-light);
}

.Input {
  background: var(--background-secondary-light);
  border: 1px solid var(--text-color-light);
  box-sizing: border-box;
  border-radius: 20px;
  color: var(--text-color-light);
  text-align: center;
  padding: 10px;
}

.FillerImage {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: cover;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color-light);
  transition: color ease-in-out 0.3s;
}

input[type="file"] {
  display: none;
}

a:hover {
  text-decoration: none;
  color: var(--brand-color);
}

a:hover i {
  color: var(--brand-color);
  transition: color ease-in-out 0.3s;
}

i {
  color:var(--icon-color);
  font-size: 1.6rem;
  padding: 7px;
  vertical-align: middle;
}

i:hover {
  color: var(--brand-color);
  cursor: pointer;
  transition: color ease-in-out 0.3s;
}

figure {
  text-align: center;
  display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--background-light);
}

*::-webkit-scrollbar-thumb {
  background:var(--text-color-light);
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--text-secondary-color-light);
}
