@import "./styles/variables.css";

.App {
    font-family: "DM Sans", sans-serif;
    background-color: var(--background-light);
    min-height: 100vh;
}

.dark-mode .App {
    background-color: var(--background-dark);
}

.Main {
    padding-top: 81px;
}

.Content {
    background-color: var(--background-light);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #dadadf;
}

.FillerImage {
    object-fit: scale-down;
    height: 100%;
    width: 100%;
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: cover;
}

* {
    box-sizing: border-box;
}

a {
    color: #555555;
    transition: color ease-in-out 0.3s;
}

input[type="file"] {
    display: none;
}


a:hover {
    text-decoration: none;
    color: var(--brand-color);
}

a:hover i {
    color: var(--brand-color);
    transition: color ease-in-out 0.3s;
}

i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    color: var(--brand-color);
    cursor: pointer;
    transition: color ease-in-out 0.3s;
}

figure {
    text-align: center;
    display: inline-block;
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}